@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
