$main-font: "ProximaNova";
$white: #ffffff;
$orange: #ff6600;
$gray-1: #e1e1e1;
$gray-2: #c4c4c4;
$gray-3: #777777;
$gray-3: #6b6b6b;
$gray-4: #8f8f8f;
$gray-5: #7d7d7d;
$gray-6: #868686;
$black-1: #101010;
$black-2: #161616;
$black-3: #1f1f1f;
$black-4: #070707;
$bg-color: #f4f4f4;
$logoWidth: 170px;
$navHeight: 110px;
